<nav>
    <div class="site-title">
        <a href="/"><h1>Mi blog de cosas varias</h1></a>
        <p>El mejor blog de cosas</p>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">Nuevo</a></li>
        <li><a href="/blog/update">Editar</a></li>
    </ul>
</nav>