<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <h1>404</h1>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
