<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="content about">
        <h2>Te cuento mi vida</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates non tempora magnam eius quos fuga deserunt saepe culpa repudiandae nostrum, quae earum consequatur vel dolorem pariatur quis provident ab reprehenderit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates non tempora magnam eius quos fuga deserunt saepe culpa repudiandae nostrum, quae earum consequatur vel dolorem pariatur quis provident ab reprehenderit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates non tempora magnam eius quos fuga deserunt saepe culpa repudiandae nostrum, quae earum consequatur vel dolorem pariatur quis provident ab reprehenderit.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>