<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="content create-blog">
       <form method="post" action="/">
           <label for="title">Título</label>
           <input type="text" name="title" id="title" required>
           <label for="resume">Resumen</label>
           <input type="text" name="resume" id="resume" required>
           <label for="body">Contenido</label>
           <textarea name="body" id="body"></textarea>
           <button type="submit">Crear Nuevo</button>
       </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>