<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head.ejs") %>
<body>
<div class="container">
    
    <%- include("./partials/nav.ejs") %>
    
            <main class="container">
                <h1>Home</h1>
                <h2>Segunda cabecera del index</h2>
                <p>Párrafo número 1 del index</p>
                <p>Párrafo número 2 del index</p>
                <p>Párrafo número 3 del index</p>
            </main>
    
        <%- include("./partials/footer.ejs") %>
</div>
</body> 
</html>